* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .back-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95px;
    font-size: 24px;
    margin: 20px 0px 0px 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a2a2a;
    border: 2px solid #00ffff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: #00ffff;
    color: #1c1c1c;
    box-shadow: 0px 0px 8px #00ffff;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #1c1c1c;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.1);
  }
  
  .question-container {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
    max-width: 600px;
    background-color: #2a2a2a;
    border: 2px solid #00ffff;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .choice-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 255, 255, 0.5);
  }

  .choice-text {
    font-size: 15px;
    padding: 20px;
    width: 100%;
  }

  .correct{
    background-color: #28a745;
  }
  .incorrect{
    background-color: #dc3545;
  }

  
  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
    
    .question-container {
      font-size: 15px;
      margin-bottom: 20px;
    }
    
    .choice-text {
      font-size: 18px;
      margin: 0px 10px;
    }
  }
  